
body {
  font-family: sans-serif;
  margin: 0;
  background: #f4f4f4;
}
.header, .footer {
  background-color: #007e6a;
  color: white;
  padding: 1rem;
  text-align: center;
}
.container {
  background: white;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
}
button {
  padding: 10px;
  background-color: #007e6a;
  color: white;
  border: none;
  border-radius: 5px;
}
.question {
  margin-bottom: 15px;
}
.question p {
  font-weight: bold;
}
label {
  display: block;
  margin-left: 10px;
}
