
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 0;
}
.header, .footer {
  background-color: #007e6a;
  color: white;
  text-align: center;
  padding: 10px;
}
.container {
  max-width: 800px;
  background: white;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
}
button {
  background-color: #007e6a;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}
